{% extends 'client/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block title %}
	Shop
{% endblock %}

{% block content %}

	<body>
		
		<!--PreLoader-->
		<div class="loader">
			<div class="loader-inner">
				<div class="circle"></div>
			</div>
		</div>
		<!--PreLoader Ends-->
		
		<!-- breadcrumb-section -->
		<div class="breadcrumb-section breadcrumb-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="breadcrumb-text">
							<p>Fresh and Organic</p>
							<h1>Shop</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end breadcrumb section -->

		<!-- products -->
		<div class="product-section mt-150 mb-150">
			<div class="container">

				
				<!-- <div class="row">
					{% if store %}
						{% for s in store %}
							<div class="col-md-12">
								<div class="product-filters">
									<ul>
										<li class="active" data-filter="*">All</li>
										<li data-filter=".strawberry">Strawberry</li>
										<li data-filter=".berry">Berry</li>
										<li data-filter=".lemon">Lemon</li>
										<li data-filter="{{.s.tag}}">{{s.tag}}</li>
									</ul>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>  -->
				
				<div class="row product-lists">
					{% if store %}
						{% for s in store %}
							

							<div class="col-lg-4 col-md-6 text-center strawberry">
								<div class="single-product-item">
									<div class="product-image">
										<a href="{{s.get_product_url}}"><img src="{{s.get_product_image.url}}" alt="" class="img-fluid" style="width: 200px; height: 200px;"></a>
									</div>
									<h3>{{s.get_product_name | truncatechars:8}} </h3>
									<p class="product-price"><i>&#x20A6;</i>{{s.product_price}}</p>
									<a href="{{s.get_product_url}}" class="cart-btn"><i class="fas fa-shopping-cart"></i> See details</a>
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
					
				<!--  -->

				<!-- <div class="row">
					<div class="col-lg-12 text-center">
						<div class="pagination-wrap">
							<ul>
								<li><a href="#">Prev</a></li>
								<li><a href="#">1</a></li>
								<li><a class="active" href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">Next</a></li>
							</ul>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<!-- end products -->
	</body>

{% endblock %}
